In [1]:
import numpy as np
import pandas as pd

In [9]:
df=pd.DataFrame({'text':['people watch campusx','campusx watch campusx','people write comment','campusx write comment'],'output':[1,1,0,0]})

In [10]:
df

                    text  output
0   people watch campusx       1
1  campusx watch campusx       1
2   people write comment       0
3  campusx write comment       0

### Bag-Of-Words

##### Now ,we will implement bagofwords using CountVectorizer class of sklearn.

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [12]:
bow=cv.fit_transform(df['text'])

In [13]:
#vocab

print(cv.vocabulary_)

{'people': 2, 'watch': 3, 'campusx': 0, 'write': 4, 'comment': 1}

##### It will create a sparse matrix , so we will use toarray method to convert it into array.

In [16]:
print(bow[0].toarray())
print(bow[1].toarray())

[[1 0 1 1 0]]
[[2 0 0 1 0]]

##### Lets try it for another sentence and predict.

In [18]:
cv.transform(['campusx watch and write comment of campusx']).toarray()

array([[2, 1, 0, 1, 1]], dtype=int64)

##### We can see that in above output , the letters which werent in the trainset are beging handled i.e ignored unlike onehotencoding..which gets confuse if such case happens.

### N-grams technique

In [19]:
df=pd.DataFrame({'text':['people watch campusx','campusx watch campusx','people write comment','campusx write comment'],'output':[1,1,0,0]})

In [20]:
df

                    text  output
0   people watch campusx       1
1  campusx watch campusx       1
2   people write comment       0
3  campusx write comment       0

##### To implement n-grams technique,we use same CountVectorizer class.In that class , we have a argument called as n-grams which takes a tuple decsribing the value of n.

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(ngram_range=(2,2))

##### This is bigram.

In [22]:
bow=cv.fit_transform(df['text'])

In [23]:
#vocab

print(cv.vocabulary_)

{'people watch': 2, 'watch campusx': 4, 'campusx watch': 0, 'people write': 3, 'write comment': 5, 'campusx write': 1}

In [24]:
print(bow[0].toarray())
print(bow[1].toarray())

[[0 0 1 0 1 0]]
[[1 0 0 0 1 0]]

In [25]:
cv.transform(['campusx watch and write comment of campusx']).toarray()

array([[1, 0, 0, 0, 0, 1]], dtype=int64)

In [26]:
cv.transform(['campusx watch and write comment of campusx']).toarray()

array([[1, 0, 0, 0, 0, 1]], dtype=int64)

##### We can also set the tuple value like 1,2 or 2,3 or something for both unigram and bigram

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(ngram_range=(1,2))

In [28]:
bow=cv.fit_transform(df['text'])

In [29]:
#vocab

print(cv.vocabulary_)

{'people': 4, 'watch': 7, 'campusx': 0, 'people watch': 5, 'watch campusx': 8, 'campusx watch': 1, 'write': 9, 'comment': 3, 'people write': 6, 'write comment': 10, 'campusx write': 2}

### Tf-Idf Technique

##### We have Tf-IdfVectotizer class in the sklearn to use this technique.

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [32]:
tfidf=TfidfVectorizer()

In [33]:
tfidf.fit_transform(df['text']).toarray()

array([[0.49681612, 0.        , 0.61366674, 0.61366674, 0.        ],
       [0.8508161 , 0.        , 0.        , 0.52546357, 0.        ],
       [0.        , 0.57735027, 0.57735027, 0.        , 0.57735027],
       [0.49681612, 0.61366674, 0.        , 0.        , 0.61366674]])

##### To get the idf value ,we can use idf attribute.

In [34]:
print(tfidf.idf_)

[1.22314355 1.51082562 1.51082562 1.51082562 1.51082562]

In [37]:
print(tfidf.get_feature_names_out())

['campusx' 'comment' 'people' 'watch' 'write']