##### Column transformer is used when we deal with various problems of different columns like in a dataframe ,we may have numerical column having missing column ,another column may be nominal categorical column,other may be ordinal categorical data column.To deal with all such issues of various cols ,we use column transformer.

##### First we will look how handling this task without using column transfomer is hectic and then we will use column transformer.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

##### We have imported simpleimputer class to deal with missing values in the numerical column.

In [3]:
df=pd.read_csv('covid_toy.csv')

In [4]:
df.head(15)

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
5    84  Female    NaN    Mild  Bangalore       Yes
6    14    Male  101.0  Strong  Bangalore        No
7    20  Female    NaN  Strong     Mumbai       Yes
8    19  Female  100.0  Strong  Bangalore        No
9    64  Female  101.0    Mild      Delhi        No
10   75  Female    NaN    Mild      Delhi        No
11   65  Female   98.0    Mild     Mumbai       Yes
12   25  Female   99.0  Strong    Kolkata        No
13   64    Male  102.0    Mild  Bangalore       Yes
14   51    Male  104.0    Mild  Bangalore        No

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

##### It means that fever has 10 values which are null,we need to handle these values using simpleimputer class.

In [7]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [8]:
X_train

    age  gender  fever   cough       city
52   47  Female  100.0  Strong  Bangalore
36   38  Female  101.0    Mild  Bangalore
79   48  Female  103.0    Mild    Kolkata
45   72    Male   99.0    Mild  Bangalore
44   20    Male  102.0  Strong      Delhi
..  ...     ...    ...     ...        ...
87   47    Male  101.0  Strong  Bangalore
97   20  Female  101.0    Mild  Bangalore
35   82  Female  102.0  Strong  Bangalore
95   12  Female  104.0    Mild  Bangalore
78   11    Male  100.0    Mild  Bangalore

[80 rows x 5 columns]