##### Column transformer is used when we deal with various problems of different columns like in a dataframe ,we may have numerical column having missing column ,another column may be nominal categorical column,other may be ordinal categorical data column.To deal with all such issues of various cols ,we use column transformer.

##### First we will look how handling this task without using column transfomer is hectic and then we will use column transformer.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

##### We have imported simpleimputer class to deal with missing values in the numerical column.

In [3]:
df=pd.read_csv('covid_toy.csv')

In [4]:
df.head(15)

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
5    84  Female    NaN    Mild  Bangalore       Yes
6    14    Male  101.0  Strong  Bangalore        No
7    20  Female    NaN  Strong     Mumbai       Yes
8    19  Female  100.0  Strong  Bangalore        No
9    64  Female  101.0    Mild      Delhi        No
10   75  Female    NaN    Mild      Delhi        No
11   65  Female   98.0    Mild     Mumbai       Yes
12   25  Female   99.0  Strong    Kolkata        No
13   64    Male  102.0    Mild  Bangalore       Yes
14   51    Male  104.0    Mild  Bangalore        No