##### It is also called as MICE algorithm as it is Multivariate Imputation by Chain Equation.It is accurate.It has disadvantages like slow speed,and also we need to put our whole training dataset on server.This algorithm predicts the missing value.

In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [2]:
df = np.round(pd.read_csv('50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)

In [3]:
df.head(10)

   R&D Spend  Administration  Marketing Spend  Profit
0       17.0            14.0             47.0    19.0
1       16.0            15.0             44.0    19.0
2       15.0            10.0             41.0    19.0
3       14.0            12.0             38.0    18.0
4       14.0             9.0             37.0    17.0
5       13.0            10.0             36.0    16.0
6       13.0            15.0             13.0    16.0
7       13.0            15.0             32.0    16.0
8       12.0            15.0             31.0    15.0
9       12.0            11.0             30.0    15.0

In [4]:
np.random.seed(9)

##### For now ,we will only work on 5 rows.

In [7]:
df = df.sample(5)

In [8]:
df

    R&D Spend  Administration  Marketing Spend  Profit
37        4.0             5.0             20.0     9.0
2        15.0            10.0             41.0    19.0
21        8.0            15.0             30.0    11.0
14       12.0            16.0             26.0    13.0
44        2.0            15.0              3.0     7.0

In [9]:
###Selecting only the input columns
df = df.iloc[:,0:-1]
df

    R&D Spend  Administration  Marketing Spend
37        4.0             5.0             20.0
2        15.0            10.0             41.0
21        8.0            15.0             30.0
14       12.0            16.0             26.0
44        2.0            15.0              3.0

##### Making some values missing.

In [10]:
df.iloc[1,0] = np.NaN
df.iloc[3,1] = np.NaN
df.iloc[-1,-1] = np.NaN

C:\Users\bagwe\AppData\Local\Temp\ipykernel_12636\2040708130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[1,0] = np.NaN
C:\Users\bagwe\AppData\Local\Temp\ipykernel_12636\2040708130.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[3,1] = np.NaN
C:\Users\bagwe\AppData\Local\Temp\ipykernel_12636\2040708130.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[-1,-1] = np.NaN

In [11]:
df.head()

    R&D Spend  Administration  Marketing Spend
37        4.0             5.0             20.0
2         NaN            10.0             41.0
21        8.0            15.0             30.0
14       12.0             NaN             26.0
44        2.0            15.0              NaN

In [12]:
# Step 1 - Impute all missing values with mean of respective col

df0 = pd.DataFrame()

df0['R&D Spend'] = df['R&D Spend'].fillna(df['R&D Spend'].mean())
df0['Administration'] = df['Administration'].fillna(df['Administration'].mean())
df0['Marketing Spend'] = df['Marketing Spend'].fillna(df['Marketing Spend'].mean())

In [14]:
df0

    R&D Spend  Administration  Marketing Spend
37        4.0            5.00            20.00
2         6.5           10.00            41.00
21        8.0           15.00            30.00
14       12.0           11.25            26.00
44        2.0           15.00            29.25

In [15]:
# Remove the col1 imputed value
df1 = df0.copy()

df1.iloc[1,0] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
37        4.0            5.00            20.00
2         NaN           10.00            41.00
21        8.0           15.00            30.00
14       12.0           11.25            26.00
44        2.0           15.00            29.25

In [17]:
# Use first 3 rows to build a model and use the last for prediction and leave the considered column ..for now it is col no 0.

X = df1.iloc[[0,2,3,4],1:3]
X

    Administration  Marketing Spend
37            5.00            20.00
21           15.00            30.00
14           11.25            26.00
44           15.00            29.25

In [18]:
y = df1.iloc[[0,2,3,4],0]
y

37     4.0
21     8.0
14    12.0
44     2.0
Name: R&D Spend, dtype: float64

In [19]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[1,1:].values.reshape(1,2))

C:\Users\bagwe\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([130.88311688])

In [23]:
df1.iloc[1,0] = 130.88

In [24]:
df1

    R&D Spend  Administration  Marketing Spend
37       4.00            5.00            20.00
2      130.88           10.00            41.00
21       8.00           15.00            30.00
14      12.00           11.25            26.00
44       2.00           15.00            29.25

In [25]:
# Remove the col2 imputed value

df1.iloc[3,1] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
37       4.00             5.0            20.00
2      130.88            10.0            41.00
21       8.00            15.0            30.00
14      12.00             NaN            26.00
44       2.00            15.0            29.25

In [26]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[[0,1,2,4],[0,2]]
X

    R&D Spend  Marketing Spend
37       4.00            20.00
2      130.88            41.00
21       8.00            30.00
44       2.00            29.25

In [27]:
y = df1.iloc[[0,1,2,4],1]
y

37     5.0
2     10.0
21    15.0
44    15.0
Name: Administration, dtype: float64

In [28]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[3,[0,2]].values.reshape(1,2))

C:\Users\bagwe\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([10.23874367])

In [29]:
df1.iloc[3,1] = 10.24

In [30]:
df1

    R&D Spend  Administration  Marketing Spend
37       4.00            5.00            20.00
2      130.88           10.00            41.00
21       8.00           15.00            30.00
14      12.00           10.24            26.00
44       2.00           15.00            29.25

In [31]:
# Remove the col3 imputed value
df1.iloc[4,-1] = np.NaN

df1

    R&D Spend  Administration  Marketing Spend
37       4.00            5.00             20.0
2      130.88           10.00             41.0
21       8.00           15.00             30.0
14      12.00           10.24             26.0
44       2.00           15.00              NaN

In [32]:
# Use last 3 rows to build a model and use the first for prediction
X = df1.iloc[0:4,0:2]
X

    R&D Spend  Administration
37       4.00            5.00
2      130.88           10.00
21       8.00           15.00
14      12.00           10.24

In [33]:
y = df1.iloc[0:4,-1]
y

37    20.0
2     41.0
21    30.0
14    26.0
Name: Marketing Spend, dtype: float64

In [34]:
lr = LinearRegression()
lr.fit(X,y)
lr.predict(df1.iloc[4,0:2].values.reshape(1,2))

C:\Users\bagwe\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([29.23253541])

In [35]:
df1.iloc[4,-1] = 29.23

In [36]:
df1

    R&D Spend  Administration  Marketing Spend
37       4.00            5.00            20.00
2      130.88           10.00            41.00
21       8.00           15.00            30.00
14      12.00           10.24            26.00
44       2.00           15.00            29.23