##### It is also called as MICE algorithm as it is Multivariate Imputation by Chain Equation.It is accurate.It has disadvantages like slow speed,and also we need to put our whole training dataset on server.This algorithm predicts the missing value.

In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [2]:
df = np.round(pd.read_csv('50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)

In [3]:
df.head(10)

   R&D Spend  Administration  Marketing Spend  Profit
0       17.0            14.0             47.0    19.0
1       16.0            15.0             44.0    19.0
2       15.0            10.0             41.0    19.0
3       14.0            12.0             38.0    18.0
4       14.0             9.0             37.0    17.0
5       13.0            10.0             36.0    16.0
6       13.0            15.0             13.0    16.0
7       13.0            15.0             32.0    16.0
8       12.0            15.0             31.0    15.0
9       12.0            11.0             30.0    15.0

In [4]:
np.random.seed(9)

##### For now ,we will only work on 5 rows.

In [7]:
df = df.sample(5)

In [8]:
df

    R&D Spend  Administration  Marketing Spend  Profit
37        4.0             5.0             20.0     9.0
2        15.0            10.0             41.0    19.0
21        8.0            15.0             30.0    11.0
14       12.0            16.0             26.0    13.0
44        2.0            15.0              3.0     7.0

In [9]:
###Selecting only the input columns
df = df.iloc[:,0:-1]
df

    R&D Spend  Administration  Marketing Spend
37        4.0             5.0             20.0
2        15.0            10.0             41.0
21        8.0            15.0             30.0
14       12.0            16.0             26.0
44        2.0            15.0              3.0

##### Making some values missing.

In [10]:
df.iloc[1,0] = np.NaN
df.iloc[3,1] = np.NaN
df.iloc[-1,-1] = np.NaN

C:\Users\bagwe\AppData\Local\Temp\ipykernel_12636\2040708130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[1,0] = np.NaN
C:\Users\bagwe\AppData\Local\Temp\ipykernel_12636\2040708130.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[3,1] = np.NaN
C:\Users\bagwe\AppData\Local\Temp\ipykernel_12636\2040708130.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[-1,-1] = np.NaN

In [11]:
df.head()

    R&D Spend  Administration  Marketing Spend
37        4.0             5.0             20.0
2         NaN            10.0             41.0
21        8.0            15.0             30.0
14       12.0             NaN             26.0
44        2.0            15.0              NaN