##### Mean-median imputation is a simple technique where missing values are either filled by mean of col or median of col .If data is normally distributed ,then missing values are filled with mean preferablly,whereas if data distribution is skewed ,then it is filled with median.Disadvantage of this technique is that it changes the distribution of data ,coz we are filling missing values with mean/median.Also it tends to create outliers.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [3]:
df = pd.read_csv('titanic_toy.csv')

In [4]:
df.head(10)

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0
5   NaN   8.4583       0         0
6  54.0  51.8625       0         0
7   2.0  21.0750       4         0
8  27.0  11.1333       2         1
9  14.0  30.0708       1         1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       714 non-null    float64
 1   Fare      846 non-null    float64
 2   Family    891 non-null    int64
 3   Survived  891 non-null    int64
dtypes: float64(2), int64(2)
memory usage: 28.0 KB

In [6]:
df.isnull().mean()

Age         0.198653
Fare        0.050505
Family      0.000000
Survived    0.000000
dtype: float64

In [7]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [9]:
X_train.shape,X_test.shape

((712, 3), (179, 3))

In [10]:
X_train.isnull().mean()

Age       0.207865
Fare      0.050562
Family    0.000000
dtype: float64

##### Calculating mean and median.

In [12]:
mean_age=X_train['Age'].mean()
median_age = X_train['Age'].median()

In [13]:
mean_fare=X_train['Fare'].mean()
median_fare=X_train['Fare'].median()

##### Filling values that are missing using pandas i.e with fillna().

In [14]:
X_train['Age_median']=X_train['Age'].fillna(median_age)
X_train['Age_mean'] = X_train['Age'].fillna(mean_age)

X_train['Fare_median']=X_train['Fare'].fillna(median_fare)
X_train['Fare_mean']=X_train['Fare'].fillna(mean_fare)

In [16]:
X_train.sample(5)

      Age     Fare  Family  Age_median   Age_mean  Fare_median  Fare_mean
607  27.0  30.5000       0       27.00  27.000000      30.5000    30.5000
457   NaN  51.8625       1       28.75  29.785904      51.8625    51.8625
761  41.0   7.1250       0       41.00  41.000000       7.1250     7.1250
596   NaN  33.0000       0       28.75  29.785904      33.0000    33.0000
278   7.0  29.1250       5        7.00   7.000000      29.1250    29.1250

##### As ,we can see that age column ha still missing values and we have fill that missing values in new column Age_mean and Age_median