##### When the categorical column has more than or equal to 10 % of missing data,then it is preferable to create a new category called missing and fill all missing values in missing category.

In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv('train.csv',usecols=['GarageQual','FireplaceQu','SalePrice'])

In [11]:
df.head(15)

   FireplaceQu GarageQual  SalePrice
0          NaN         TA     208500
1           TA         TA     181500
2           TA         TA     223500
3           Gd         TA     140000
4           TA         TA     250000
5          NaN         TA     143000
6           Gd         TA     307000
7           TA         TA     200000
8           TA         Fa     129900
9           TA         Gd     118000
10         NaN         TA     129500
11          Gd         TA     345000
12         NaN         TA     144000
13          Gd         TA     279500
14          Fa         TA     157000