##### Missing values are filled by random numbers.This random numbers are choosen from the numbers that are in same column.This imputation can be applied to both numerical as well as categorical column.There is no sklearn class for this imputation ,we should do it in pandas.Benefit of this method is that , variance and data distribution remains intaact before and after imputation ,unlike other imputation process.It is well suited for linear models.Disadvantage of this method is that it is memory heavy for deployment.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv('trainData-random.csv',usecols=['Age','Fare','Survived'])

In [4]:
df.head(15)

    Survived   Age     Fare
0          0  22.0   7.2500
1          1  38.0  71.2833
2          1  26.0   7.9250
3          1  35.0  53.1000
4          0  35.0   8.0500
5          0   NaN   8.4583
6          0  54.0  51.8625
7          0   2.0  21.0750
8          1  27.0  11.1333
9          1  14.0  30.0708
10         1   4.0  16.7000
11         1  58.0  26.5500
12         0  20.0   8.0500
13         0  39.0  31.2750
14         0  14.0   7.8542