In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('play_tennis.csv')
data.head()
data.drop(columns=['day'],inplace=True)

In [3]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

##### Problem 1:
##### Outlook -sunny,temp-hot,humidity:high , wind:weak
##### play or no play

In [5]:
### Solution:

### P(Yes/Sunny,hot,humidity,weak)=P(sunny/Yes)*P(hot/Yes)*P(humidity/Yes)*P(weak/Yes)*P(Yes)
### P(No/Sunny,hot,humidity,weak)=P(sunny/No)*P(hot/No)*P(humidity/No)*P(weak/No)*P(No)

### Comparing and deciding using maximum a posteriori rule.

##### Naive bayes works in two stages ie training and testing.While training it calculates the probablity of each unique value of each column wr,t to the output classes given(here classes are yes and no).It then stores all this info into a lookup table so that when test point arrives,it can refer the lookup table and predict the outcome.

#### First we will find the probabilites of yes and no.

In [6]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [7]:
py=9/14
pn=5/14

In [8]:
py,pn

(0.6428571428571429, 0.35714285714285715)

##### Now , for each column we will be calculating their respective probabilites for yes and no.

In [10]:
## for outlook column

pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

##### Now , we will be calculating probailites for each category.

In [13]:
Pon=0
Prn=2/5
Psn=3/5
Poy=4/9
Pry=3/9
Psy=2/9

In [14]:
Pon,Prn,Psn,Poy,Pry,Psy

(0, 0.4, 0.6, 0.4444444444444444, 0.3333333333333333, 0.2222222222222222)

##### Now ,we will do same thing for other columns.

In [15]:
## for outlook column

pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [20]:
##temp column
Pcoolno=1/5
Photno=2/5
Pmildno=2/5

Pcoolyes=3/9
Photyes=2/9
Pmildyes=4/9

In [21]:
Pcoolno,Photno,Pmildno,Pcoolyes,Photyes,Pmildyes

(0.2, 0.4, 0.4, 0.3333333333333333, 0.2222222222222222, 0.4444444444444444)

In [22]:
## Humidity

pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [23]:
Phighno=4/5
Pnormalno=1/5

Phighyes=3/9
Pnormalyes=6/9

In [24]:
Phighno,Pnormalno,Phighyes,Pnormalyes

(0.8, 0.2, 0.3333333333333333, 0.6666666666666666)

In [26]:
###wind column
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [27]:
Pstrongno=3/5
Pweakno=2/5

Pstrongyes=3/9
Pweakyes=6/9

In [29]:
Pstrongno,Pweakno,Pstrongyes,Pweakyes

(0.6, 0.4, 0.3333333333333333, 0.6666666666666666)

##### Now ,we will predict the result.

In [33]:
#Outlook -sunny,temp-hot,humidity:high , wind:weak

### P(Yes/Sunny,hot,humidity,weak)=P(sunny/Yes)*P(hot/Yes)*P(humidity/Yes)*P(weak/Yes)*P(Yes)
### P(No/Sunny,hot,humidity,weak)=P(sunny/No)*P(hot/No)*P(humidity/No)*P(weak/No)*P(No)

Pyes=Psy*Photyes*Phighyes*Pweakyes*py
Pno=Psn*Photno*Phighno*Pweakno*pn

In [34]:
Pyes,Pno

(0.007054673721340387, 0.02742857142857143)

##### As Pno >Pyes , we will predict the outcome as no.