# Placement Predictor Model

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('placement.csv')

In [3]:
df.head(10)

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0
5           5   7.1   48.0          1
6           6   5.7  143.0          0
7           7   5.0   63.0          0
8           8   6.1  156.0          0
9           9   5.1   66.0          0

##### We can observe that 0th column is unncessary in our datset ,we can eliminate it by just choosing all the other columns except 0th one and all teh rows using iloc[].This can be called as data pre-processing.

In [4]:
df=df.iloc[:,1:]

In [7]:
df.head(10)

   cgpa     iq  placement
0   6.8  123.0          1
1   5.9  106.0          0
2   5.3  121.0          0
3   7.4  132.0          1
4   5.8  142.0          0
5   7.1   48.0          1
6   5.7  143.0          0
7   5.0   63.0          0
8   6.1  156.0          0
9   5.1   66.0          0

In [8]:
df.shape

(100, 3)

#### Steps :-
##### 1)Preprocess + EDA + feature selection
##### 2)Extract Input and Output Columns
##### 3)Scale the values.
##### 4)Train test split.
##### 5)Train the Model.
##### 6)Evaluate the Model/Model selection
##### 7)Deploy the Model.