In [3]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import seaborn as sns

In [4]:
df = pd.read_csv('trainData-random.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [5]:
df.sample(5)

      Age  Pclass  SibSp  Parch  Survived
213  30.0       2      0      0         0
4    35.0       3      0      0         0
77    NaN       3      0      0         0
53   29.0       2      1      0         1
862  48.0       1      0      0         1