In [3]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import seaborn as sns

In [4]:
df = pd.read_csv('trainData-random.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [7]:
df.shape

(714, 5)

In [8]:
df.sample(5)

      Age  Pclass  SibSp  Parch  Survived
248  37.0       1      1      1         1
183   1.0       2      2      1         1
853  16.0       1      0      1         1
628  26.0       3      0      0         0
714  52.0       2      0      0         0

##### Dropping missing data.

In [14]:
df.dropna(inplace=True)

In [16]:
X=df.iloc[:,0:4]
y=df.iloc[:,-1]

In [17]:
X.shape,y.shape

((714, 4), (714,))

In [18]:
X.head()

    Age  Pclass  SibSp  Parch
0  22.0       3      1      0
1  38.0       1      1      0
2  26.0       3      0      0
3  35.0       1      1      0
4  35.0       3      0      0

##### Checking the score of model without feature construction.

In [19]:
np.mean(cross_val_score(LogisticRegression(),X,y,scoring='accuracy',cv=20))

0.6933333333333332

### Applying feature construction.

In [20]:
X['Family_size'] = X['SibSp'] + X['Parch'] + 1

In [21]:
X.head()

    Age  Pclass  SibSp  Parch  Family_size
0  22.0       3      1      0            2
1  38.0       1      1      0            2
2  26.0       3      0      0            1
3  35.0       1      1      0            2
4  35.0       3      0      0            1

In [22]:
def myfunc(num):
    if num == 1:
        #alone
        return 0
    elif num >1 and num <=4:
        # small family
        return 1
    else:
        # large family
        return 2

In [23]:
myfunc(4)

1