##### In arbitary imputation ,we fill the missing values with any arbitary data .For categorical cols ,mostly  missing values are filled with string 'missing' and for numerical col ..we can use arbitary constants like 0,-1 or anything that are not present in the dataframe.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv('titanic_toy.csv')

In [4]:
df.head(10)

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0
5   NaN   8.4583       0         0
6  54.0  51.8625       0         0
7   2.0  21.0750       4         0
8  27.0  11.1333       2         1
9  14.0  30.0708       1         1

In [5]:
df.isnull().mean()

Age         0.198653
Fare        0.050505
Family      0.000000
Survived    0.000000
dtype: float64

In [6]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [8]:
X_train['Age_99'] = X_train['Age'].fillna(99)
X_train['Age_minus1'] = X_train['Age'].fillna(-1)

X_train['Fare_999'] = X_train['Fare'].fillna(999)
X_train['Fare_minus1'] = X_train['Fare'].fillna(-1)

In [9]:
X_train.sample(5)

      Age     Fare  Family  Age_99  Age_minus1  Fare_999  Fare_minus1
573   NaN   7.7500       0    99.0        -1.0    7.7500       7.7500
138  16.0   9.2167       0    16.0        16.0    9.2167       9.2167
53   29.0  26.0000       1    29.0        29.0   26.0000      26.0000
364   NaN  15.5000       1    99.0        -1.0   15.5000      15.5000
778   NaN   7.7375       0    99.0        -1.0    7.7375       7.7375

In [10]:
print('Original Age variable variance: ', X_train['Age'].var())
print('Age Variance after 99 wala imputation: ', X_train['Age_99'].var())
print('Age Variance after -1 wala imputation: ', X_train['Age_minus1'].var())

print('Original Fare variable variance: ', X_train['Fare'].var())
print('Fare Variance after 999 wala imputation: ', X_train['Fare_999'].var())
print('Fare Variance after -1 wala imputation: ', X_train['Fare_minus1'].var())

Original Age variable variance:  204.3495133904614
Age Variance after 99 wala imputation:  951.7275570187172
Age Variance after -1 wala imputation:  318.0896202624484
Original Fare variable variance:  2448.197913706318
Fare Variance after 999 wala imputation:  47219.20265217623
Fare Variance after -1 wala imputation:  2378.5676784883503