##### In knn-imputer, we impute the missing value using data of row which is similar to another row whose data is missng.This similarity is calculated using eucldian distance.Distances are calculated from the row which has missing data of other rows.That one row which has closest distance to the row having missing data is selected and the missing value from that row is imputed in row which was having missing data.K represents no of neighbours we are considering.

##### It has 2 steps:- 1) find k nearst neighbours.
#####                  2) Find the value.

##### We use nan_euclidean distance from the sklearn to calculate the euclidean distand also handle missing values if any.This method is more accurate.The only disadvantage with knn imputer is that it requires more calculation and also we need to deploy our training set on server in order to calculate any missing value send by user ,hence it increases memory .

In [6]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [7]:
df = pd.read_csv('trainData-random.csv')[['Age','Pclass','Fare','Survived']]
df.head(10)

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0
5   NaN       3   8.4583         0
6  54.0       1  51.8625         0
7   2.0       3  21.0750         0
8  27.0       3  11.1333         1
9  14.0       2  30.0708         1

In [8]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [9]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [11]:
X_train.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458