##### Mean-median imputation is a simple technique where missing values are either filled by mean of col or median of col .If data is normally distributed ,then missing values are filled with mean preferablly,whereas if data distribution is skewed ,then it is filled with median.Disadvantage of this technique is that it changes the distribution of data ,coz we are filling missing values with mean/median.Also it tends to create outliers.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [3]:
df = pd.read_csv('titanic_toy.csv')

In [4]:
df.head(10)

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0
5   NaN   8.4583       0         0
6  54.0  51.8625       0         0
7   2.0  21.0750       4         0
8  27.0  11.1333       2         1
9  14.0  30.0708       1         1