##### In this imputation technique,we create a new column for every column which has missing values .The new column will conatins two values i.e true or false.True if value is  missing and false if value is  not missing.We have MissingIndicator class in sklearn for this technique.It is said that machine learns to differeniate between missing and non-missing data using this technique.

In [5]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import MissingIndicator,SimpleImputer

In [6]:
df = pd.read_csv('trainData-random.csv',usecols=['Age','Fare','Survived'])

In [7]:
df.head(10)

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500
5         0   NaN   8.4583
6         0  54.0  51.8625
7         0   2.0  21.0750
8         1  27.0  11.1333
9         1  14.0  30.0708

In [8]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [10]:
X_train.head()

      Age     Fare
30   40.0  27.7208
10    4.0  16.7000
873  47.0   9.0000
182   9.0  31.3875
876  20.0   9.8458

##### First we will try to train a model using simpleImputer and then with MissingIndicator and will observe the difference in both.

In [11]:
si = SimpleImputer()
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [12]:
X_train_trf

array([[ 40.        ,  27.7208    ],
       [  4.        ,  16.7       ],
       [ 47.        ,   9.        ],
       ...,
       [ 71.        ,  49.5042    ],
       [ 29.78590426, 221.7792    ],
       [ 29.78590426,  25.925     ]])

In [13]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

clf.fit(X_train_trf,y_train)

y_pred = clf.predict(X_test_trf)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6145251396648045