##### In this imputation technique,we create a new column for every column which has missing values .The new column will conatins two values i.e true or false.True if value is  missing and false if value is  not missing.We have MissingIndicator class in sklearn for this technique.

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import MissingIndicator,SimpleImputer

In [3]:
df = pd.read_csv('trainData-random.csv',usecols=['Age','Fare','Survived'])

In [4]:
df.head(10)

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500
5         0   NaN   8.4583
6         0  54.0  51.8625
7         0   2.0  21.0750
8         1  27.0  11.1333
9         1  14.0  30.0708