##### Winorization technique is the method that uses percentile values to detect outliers.

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('weight-height.csv')

df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
df.shape

(10000, 3)

##### For now , we will only work on height column.

In [5]:
df['Height'].describe()

count    10000.000000
mean        66.367560
std          3.847528
min         54.263133
25%         63.505620
50%         66.318070
75%         69.174262
max         78.998742
Name: Height, dtype: float64