In [1]:
import pandas as pd

## Working with JSON

##### To read a json file,we use read_json().

In [2]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

##### read_json() method can also takes various arguents like nrows,encoding.dtype,etc similar to read_csv()

##### We can also load the json data ,using url ...by just passing the url in the read_json().

In [3]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,0.0441
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,0.8560
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,1.1500
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,4.8400
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,0.0215
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,1.3300
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,2.9700
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,0.2270
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,0.2880
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-12-07,1701907201,69.8200

## Working with SQL

##### To work with the sql file that u have deployed on the database on xammp,we need to install a library called mysql.connector which is used to construct a bridge between python and sql.Here is how,you can install it -->

In [4]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.2/11.9 MB 1.0 MB/s eta 0:00:12
     - -------------------------------------- 0.4/11.9 MB 1.9 MB/s eta 0:00:07
     -- ------------------------------------- 0.6/11.9 MB 2.7 MB/s eta 0:00:05
     --- ------------------------------------ 0.9/11.9 MB 3.2 MB/s eta 0:00:04
     --- ------------------------------------ 1.1/11.9 MB 3.5 MB/s eta 0:00:04
     --- ------------------------------------ 1.2/11.9 MB 3.6 MB/s eta 0:00:03
     ---- ----------------------------------- 1.2/11.9 MB 2.8 MB/s eta 0:00:04
     ----- ---------------------------------- 1.6/11.9 MB 3.4 MB/s eta 0:00:04
     ----- ---------------------------------- 1.7/11.9 MB 3.4 MB/s eta 0:00:04
     ------ --------------------------------- 2.0/11.9 MB 3.5 MB/s eta 0:00:03
     ------- -------------------------------- 2.1/11.9 MB 3.4 MB/s eta 0:00:03
     ------- -------------------------------- 2.2/11.9 MB 3.3 MB/s eta 0:00:03
     ------- -------------------------------- 2.3/11.9 MB 3.3 MB/s eta 0:00:03
     -------- ------------------------------- 2.4/11.9 MB 3.2 MB/s eta 0:00:03
     -------- ------------------------------- 2.5/11.9 MB 3.2 MB/s eta 0:00:03
     --------- ------------------------------ 2.7/11.9 MB 3.2 MB/s eta 0:00:03
     --------- ------------------------------ 2.8/11.9 MB 3.1 MB/s eta 0:00:03
     --------- ------------------------------ 2.9/11.9 MB 3.1 MB/s eta 0:00:03
     ---------- ----------------------------- 3.1/11.9 MB 3.1 MB/s eta 0:00:03
     ---------- ----------------------------- 3.2/11.9 MB 3.0 MB/s eta 0:00:03
     ----------- ---------------------------- 3.3/11.9 MB 3.1 MB/s eta 0:00:03
     ----------- ---------------------------- 3.5/11.9 MB 3.0 MB/s eta 0:00:03
     ------------ --------------------------- 3.6/11.9 MB 3.1 MB/s eta 0:00:03
     ------------ --------------------------- 3.7/11.9 MB 3.0 MB/s eta 0:00:03
     ------------- -------------------------- 3.9/11.9 MB 3.0 MB/s eta 0:00:03
     ------------- -------------------------- 4.0/11.9 MB 3.0 MB/s eta 0:00:03
     -------------- ------------------------- 4.2/11.9 MB 3.1 MB/s eta 0:00:03
     -------------- ------------------------- 4.3/11.9 MB 3.0 MB/s eta 0:00:03
     --------------- ------------------------ 4.5/11.9 MB 3.0 MB/s eta 0:00:03
     --------------- ------------------------ 4.6/11.9 MB 3.0 MB/s eta 0:00:03
     --------------- ------------------------ 4.7/11.9 MB 3.0 MB/s eta 0:00:03
     ---------------- ----------------------- 4.9/11.9 MB 3.0 MB/s eta 0:00:03
     ----------------- ---------------------- 5.0/11.9 MB 3.0 MB/s eta 0:00:03
     ----------------- ---------------------- 5.2/11.9 MB 3.0 MB/s eta 0:00:03
     ----------------- ---------------------- 5.3/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------ --------------------- 5.4/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------ --------------------- 5.5/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------- -------------------- 5.7/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------- -------------------- 5.8/11.9 MB 3.0 MB/s eta 0:00:03
     ------------------- -------------------- 5.9/11.9 MB 3.0 MB/s eta 0:00:03
     -------------------- ------------------- 5.9/11.9 MB 3.0 MB/s eta 0:00:03
     -------------------- ------------------- 6.0/11.9 MB 2.9 MB/s eta 0:00:03
     -------------------- ------------------- 6.1/11.9 MB 2.9 MB/s eta 0:00:03
     -------------------- ------------------- 6.2/11.9 MB 2.8 MB/s eta 0:00:02
     --------------------- ------------------ 6.3/11.9 MB 2.9 MB/s eta 0:00:02
     --------------------- ------------------ 6.4/11.9 MB 2.8 MB/s eta 0:00:02
     --------------------- ------------------ 6.5/11.9 MB 2.8 MB/s eta 0:00:02
     ---------------------- ----------------- 6.6/11.9 MB 2.8 MB/s eta 0:00:02
     ---------------------- ----------------- 6.7/11.9 MB 2.8 MB/s eta 0:00:02
     ----------------------- ---------------- 6.9/11.9 MB 2.8 MB/s eta 0:00:02
     ----------------------- ---------------- 7.0/11.9 MB 2.8 MB/s eta 0:00:02
     ----------------------- ---------------- 7.1/11.9 MB 2.8 MB/s eta 0:00:02
     ------------------------ --------------- 7.2/11.9 MB 2.8 MB/s eta 0:00:02
     ------------------------ --------------- 7.2/11.9 MB 2.8 MB/s eta 0:00:02
     ------------------------ --------------- 7.3/11.9 MB 2.7 MB/s eta 0:00:02
     ------------------------- -------------- 7.4/11.9 MB 2.7 MB/s eta 0:00:02
     ------------------------- -------------- 7.5/11.9 MB 2.7 MB/s eta 0:00:02
     ------------------------- -------------- 7.6/11.9 MB 2.7 MB/s eta 0:00:02
     -------------------------- ------------- 7.7/11.9 MB 2.7 MB/s eta 0:00:02
     -------------------------- ------------- 7.8/11.9 MB 2.7 MB/s eta 0:00:02
     -------------------------- ------------- 8.0/11.9 MB 2.7 MB/s eta 0:00:02
     --------------------------- ------------ 8.1/11.9 MB 2.7 MB/s eta 0:00:02
     --------------------------- ------------ 8.2/11.9 MB 2.7 MB/s eta 0:00:02
     --------------------------- ------------ 8.3/11.9 MB 2.7 MB/s eta 0:00:02
     ---------------------------- ----------- 8.4/11.9 MB 2.7 MB/s eta 0:00:02
     ---------------------------- ----------- 8.5/11.9 MB 2.7 MB/s eta 0:00:02
     ----------------------------- ---------- 8.6/11.9 MB 2.7 MB/s eta 0:00:02
     ----------------------------- ---------- 8.7/11.9 MB 2.7 MB/s eta 0:00:02
     ----------------------------- ---------- 8.8/11.9 MB 2.7 MB/s eta 0:00:02
     ------------------------------ --------- 8.9/11.9 MB 2.7 MB/s eta 0:00:02
     ------------------------------ --------- 9.1/11.9 MB 2.7 MB/s eta 0:00:02
     ------------------------------- -------- 9.2/11.9 MB 2.7 MB/s eta 0:00:01
     ------------------------------- -------- 9.3/11.9 MB 2.7 MB/s eta 0:00:01
     ------------------------------- -------- 9.4/11.9 MB 2.7 MB/s eta 0:00:01
     -------------------------------- ------- 9.5/11.9 MB 2.7 MB/s eta 0:00:01
     -------------------------------- ------- 9.6/11.9 MB 2.7 MB/s eta 0:00:01
     -------------------------------- ------- 9.7/11.9 MB 2.7 MB/s eta 0:00:01
     --------------------------------- ------ 9.8/11.9 MB 2.6 MB/s eta 0:00:01
     --------------------------------- ------ 9.9/11.9 MB 2.6 MB/s eta 0:00:01
     --------------------------------- ------ 10.0/11.9 MB 2.6 MB/s eta 0:00:01
     ---------------------------------- ----- 10.1/11.9 MB 2.6 MB/s eta 0:00:01
     ---------------------------------- ----- 10.2/11.9 MB 2.6 MB/s eta 0:00:01
     ---------------------------------- ----- 10.3/11.9 MB 2.6 MB/s eta 0:00:01
     ---------------------------------- ----- 10.3/11.9 MB 2.7 MB/s eta 0:00:01
     ----------------------------------- ---- 10.4/11.9 MB 2.7 MB/s eta 0:00:01
     ----------------------------------- ---- 10.5/11.9 MB 2.6 MB/s eta 0:00:01
     ----------------------------------- ---- 10.6/11.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------------ --- 10.7/11.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------------ --- 10.8/11.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------------ --- 10.9/11.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------------- -- 11.0/11.9 MB 2.6 MB/s eta 0:00:01
     ------------------------------------- -- 11.1/11.9 MB 2.5 MB/s eta 0:00:01
     ------------------------------------- -- 11.2/11.9 MB 2.5 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 2.5 MB/s eta 0:00:01
     -------------------------------------- - 11.4/11.9 MB 2.5 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 2.5 MB/s eta 0:00:01
     ---------------------------------------  11.6/11.9 MB 2.5 MB/s eta 0:00:01
     ---------------------------------------  11.7/11.9 MB 2.5 MB/s eta 0:00:01
     ---------------------------------------  11.7/11.9 MB 2.5 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 2.4 MB/s eta 0:00:01
     ---------------------------------------  11.8/11.9 MB 2.4 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 2.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=9c76773bf70902772085ed40ba308164b61d0b788067e8245fa34493023f4607
  Stored in directory: c:\users\bagwe\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [5]:
import mysql.connector

##### To connect our python code to my database we use mysql.connector.connect(). It takes 4 arguments , first is the host where we need to specify the ip address of machine where our database is stored.In our case ,it will be set to localhost ,coz the database is hosted by us locally.Second arg is user where we need to specify our username ,which is by default set to root in the xammp software.Third arg is password ...which we havent set yet to our database ,so we can pass a empty string.Last arg is the database where we need to specify the name of database.

In [8]:
conn=mysql.connector.connect(host='localhost',user='root',password='',database='world')

##### To create a dataframe from the sql data, we use pd.read_sql_query().It takes two args ,one is the sql query where we need to specify which columns and which data should be selected and the second arg is connection object ,which in our case is conn.

In [9]:
pd.read_sql_query("SELECT * FROM city",conn)

C:\Users\bagwe\AppData\Local\Temp\ipykernel_12592\374620591.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM city",conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

##### We can filter the data as we like using appropriate sql query.

In [10]:
pd.read_sql_query("SELECT * FROM city WHERE CountryCode Like 'IND' ",conn)

C:\Users\bagwe\AppData\Local\Temp\ipykernel_12592\2537795847.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM city WHERE CountryCode Like 'IND' ",conn)

       ID                Name CountryCode        District  Population
0    1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1    1025               Delhi         IND           Delhi     7206704
2    1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3    1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4    1028           Hyderabad         IND  Andhra Pradesh     2964638
..    ...                 ...         ...             ...         ...
336  1360        Ambala Sadar         IND         Haryana       90712
337  1361          Baidyabati         IND    West Bengali       90601
338  1362               Morvi         IND         Gujarat       90357
339  1363             Raigarh         IND     Chhatisgarh       89166
340  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]

In [12]:
pd.read_sql_query("SELECT * FROM country",conn)

C:\Users\bagwe\AppData\Local\Temp\ipykernel_12592\858535147.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM country",conn)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,José Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,Shqipëria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

##### read_sql_query() takes various arguments like usecols,parse_dates,chunksize,etc.