##### Categorical data can be divided into two types i.e ordinal data and nominal data.In nominal data,categories dont have any specific order or relation amongst themselves.For e.g names of States.In ordinal data,categories have specific order or relation amongst themselves.For e.g marks in highschool are categorized by distinction,first class ,second class ,etc.

##### Usually ,categorical data is in the form of strings and machine learning algo expects numbers .So ,we need to encode this categorical data into numbers.There are many techniques for it ,bt 2 of the most popular are ordinal encoding and one hot encoding.

##### Ordinal encoding only works on ordinal data ,whereas one hot encoding works only on nominal encoding.

##### Label encoding is also similar to ordinal encoding,but it is used when our output data is in the form of categorical data.

##### In ordinal encoding, the order of categorical data is given by us.The one which as has highest order is given biggest number and for lower order ,smaller no is given.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('customer.csv')

In [3]:
df.head(15)

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes

##### In above dataset ,we have 2 cols which are ordinal categorical data columns that are review and education.Whereas we will apply one hot encoding on column gender and lable encoding on ouput column purchased.For now ,we will only focus on label and ordinal encoding.

In [4]:
df=df.iloc[: , 2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

##### As we have learn ,we should apply train_test_split before doing feature transformations.

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.iloc[: ,0:2],df.iloc[: ,-1],test_size=0.2)

In [8]:
X_train

     review education
17     Poor        UG
38     Good    School
33     Good        PG
26     Poor        PG
9      Good        UG
10     Good        UG
0   Average    School
36     Good        UG
24  Average        PG
35     Poor    School
42     Good        PG
31     Poor    School
44  Average        UG
2      Good        PG
1      Poor        UG
3      Good        PG
7      Poor    School
29  Average        UG
32  Average        UG
48     Good        UG
37  Average        PG
18     Good    School
34  Average    School
45     Poor        PG
40     Good    School
6      Good    School
5   Average    School
41     Good        PG
30  Average        UG
23     Good    School
4   Average        UG
14     Poor        PG
19     Poor        PG
12     Poor    School
49     Good        UG
20  Average    School
22     Poor        PG
43     Poor        PG
21  Average        PG
28     Poor    School

In [9]:
X_test

     review education
13  Average    School
11     Good        UG
27     Poor        PG
16     Poor        UG
46     Poor        PG
15     Poor        UG
25     Good    School
8   Average        UG
47     Good        PG
39     Poor        PG

##### For ordinal encoding , we will first import OridinalEncoder from sklearn library.

In [10]:
from sklearn.preprocessing import OrdinalEncoder