##### Categorical data can be divided into two types i.e ordinal data and nominal data.In nominal data,categories dont have any specific order or relation amongst themselves.For e.g names of States.In ordinal data,categories have specific order or relation amongst themselves.For e.g marks in highschool are categorized by distinction,first class ,second class ,etc.

##### Usually ,categorical data is in the form of strings and machine learning algo expects numbers .So ,we need to encode this categorical data into numbers.There are many techniques for it ,bt 2 of the most popular are ordinal encoding and one hot encoding.

##### Ordinal encoding only works on ordinal data ,whereas one hot encoding works only on nominal encoding.

##### Label encoding is also similar to ordinal encoding,but it is used when our output data is in the form of categorical data.

##### In ordinal encoding, the order of categorical data is given by us.The one which as has highest order is given biggest number and for lower order ,smaller no is given.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('customer.csv')

In [3]:
df.head(15)

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes