##### In binarization ,we differaniate our data in the binary form i.e 0 and 1.This technique is widely used in image processing.

##### In scikitlearn , we have Binarizer class which takes two arguments ,i.e thrshold and second is copy.If we set copy=True then it will create new column and if set false ,it will make changes in the existing col only.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [4]:
df.dropna(inplace=True)

In [6]:
df.head(15)

     Age     Fare  SibSp  Parch  Survived
0   22.0   7.2500      1      0         0
1   38.0  71.2833      1      0         1
2   26.0   7.9250      0      0         1
3   35.0  53.1000      1      0         1
4   35.0   8.0500      0      0         0
6   54.0  51.8625      0      0         0
7    2.0  21.0750      3      1         0
8   27.0  11.1333      0      2         1
9   14.0  30.0708      1      0         1
10   4.0  16.7000      1      1         1
11  58.0  26.5500      0      0         1
12  20.0   8.0500      0      0         0
13  39.0  31.2750      1      5         0
14  14.0   7.8542      0      0         0
15  55.0  16.0000      0      0         1